.content-wrapper {
    -moz-transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    margin-left: 60px !important;
    margin-right: 0rem;
    z-index: 820;
}
.rtl .content-wrapper {
    margin-right: 60px !important;
    margin-left: 0rem !important;
}
body.dark-skin {
    background-color: #060610;
    color: #b5b5c3;
}
.dark-skin .box {
  background-color: #060610;
  box-shadow: -7.829px 11.607px 21px 0px rgba(25, 42, 70, 0.13);
}
.dark-skin .bg-lighter {
  background-color: #0b0b15 !important;
}
.dark-skin .b-2:not([class*="border-"]) {
  border: 2px solid #292931 !important;
}
.dark-skin .b-1:not([class*="border-"]) {
  border: 1px solid #292931 !important;
}
.dark-skin .b-1 {
  border: 1px solid #292931 !important;
}
.dark-skin.theme-warning.fixed .main-header {
    background: #060610;
}
.dark-skin .main-header .logo-box {
    background: #060610 !important;
}
.dark-skin .main-header .navbar .nav > li > a {
    background-color: #0b0c16;
    border: 1px solid #292931;
}
.dark-skin .main-header .app-menu .search-bx input[type="search"] {
    background-color: #0b0c16;
    color: #b5b5c3;
}
.dark-skin .main-header .app-menu .search-bx .btn {
    background-color: #0b0c16;
    color: #b5b5c3 !important;
}
.dark-skin .main-sidebar {
    background-color: #060610;
    border: 1px solid #292931;
}
.main-sidebar {
    border: 1px solid #f3f6f9;
}
.dark-skin .sidebar-menu > li {
    border-left: 0px solid #060610;
}
.btn-dark {
    background-color: #060610;
    border-color: #292931;
    color: #ffffff;
}
.dark-skin .text-dark {
    color: #b5b5c3 !important;
}
.dark-skin .main-footer {
    background: #060610;
    color: #b5b5c3;
    border-top: 1px solid #292931;
}
.dark-skin .btn.btn-light {
    background-color: #ffffff;
    border: 1px solid #292931;
    color: #000000 !important;
}
.dark-skin .btn-flat {
    background-color: #060610 !important;
}
.bg-dark {
    background-color: #0b0b15 !important;
    color: #ffffff !important;
}
body.dark-skin .content-wrapper {
  background-color: #060610;
}



.light-skin.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
    box-shadow: 5px 8px 10px 0px rgba(0, 0, 0, 0);
}
.content-wrapper{
    background-color: #f8f8f8;
}

.big-circle{
    width: 150px;
    height: 150px;
    align-content: center;
}
.big-circle .growth{
    position: absolute;
    top: 54px;
    left: 38px;
}
.hidden-chart{
    background-image: url(../../images/chart1.png);
    background-position: bottom center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 252px;
}


 

.form-control::placeholder, .form-select::placeholder {
  color: #9d9d9dc9;
  opacity: 1;
}

/*--------------------mic-container--------------------*/
.mic-container {
  display: flex;
  align-items: center;
}
.mic-container .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
  box-shadow: 0 0px 20px  rgba(0, 0, 0, .06);
  cursor: pointer;
}
.mic-container .circle i {
  color: #b2b1b1;
  font-size: 23px;
  transition: 0.9s;
}
.mic-container .circle:before {
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  opacity: 0.2;
  z-index: -1;
  position: absolute;
}
.mic-container .circle.active {
  background: #ff0000;
}
.mic-container .circle.active:before {
  background: gray;
  animation: bounce 0.8s ease-in-out infinite 0.5s;
}

.mic-container .circle.active i {
  color: #ffffff;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
/*--------------------mic-container-end--------------------*/

.testimonial-area .owl-dots button {
    background: #d1d3e0 !important;
    width: 10px;
    height: 10px;
    border-radius: 26px;
    margin-right: 5px;
    transition: 0.3s;
}
.testimonial-area  .owl-carousel .owl-dots {
    position: absolute;
    text-align: left;
    top: -54px;
}
.testimonial-area .owl-dots button.active {
    width: 20px;
    background: #172b4c !important;
}
.rtl .testimonial-area .owl-carousel .owl-dots {
    text-align: right;
    right: 0;
}
.testimonial-area .owl-carousel .owl-dots .owl-dot span{
    display: none;
}

.dark-skin .testimonial-area .owl-dots button.active {
    width: 20px;
    background: #d1d3e0 !important;
}
.visa-svg{
    fill: #000000;
  }
  .dark-skin .visa-svg{
    fill: #ffffff;
  }
  .dark-skin .text-fade {
    color: #ffffff !important;
  }
  .dark-skin .control-sidebar {
    color: #b5b5c3;
    background-color: #060610;
    border-left: 1px solid #292931;
}
.rtl.dark-skin .control-sidebar {
    border-right: 1px solid #292931;
}


.activity-area .owl-dots button {
    background: #d1d3e0 !important;
    width: 8px;
    height: 8px;
    border-radius: 26px;
    margin-right: 5px;
    transition: 0.3s;
}
.activity-area .owl-dots button.active {
    width: 20px;
    background: #ffa800 !important;
}
.activity-area .owl-carousel .owl-dots .owl-dot span{
    display: none;
}
.activity-area .owl-carousel .owl-dots{
    margin-top: 10px;
}


.box-btn-fullscreen::before {
     content: "\f066"; 
}


/*-----------------timeline------------------*/
.timeline-container{
  width:90%;
  margin:auto;
  display:block;
  position:relative;
}
.timeline-container ul.tl{
    margin: 0px 0;
    padding:0;
    display:inline-block;
}
.timeline-container ul.tl li {
    list-style: none;
    margin:auto;
    min-height:52px;
    border-left:2px solid #ffa800;
    padding:0 0 10px 20px;
    position:relative;
    display: flex; 
    flex-direction: row;

}
 
.timeline-container ul.tl li:last-child{ border-left:0;}
.timeline-container ul.tl li .item-icon {
    position: absolute;
    left: -16px;
    top: 5px;
    content: " ";
    border-radius: 500%;
    background: #ffa800;
    height: 30px;
    width: 30px;
    text-align: center;
    align-content: center;
    color: white;
}

/*-----------------timeline------------------*/


@media only screen and (max-width: 1440px) {
  .hidden-chart {
    height: 290px;
  }
  .annual-profit{
    height: 497px;
  }
  .activity-manager{
    height:  497px;
  }
  .testimonial-area .single-testimonial{
    margin-top: 13px !important;
  }
}
@media only screen and (max-width: 1366px) {
  .hidden-chart {
    height: 232px;
    background-size: auto 100%;
  }
  .annual-profit{
    height: auto;
  }
  .activity-manager{
    height:  auto;
  }
  .testimonial-area .single-testimonial{
    margin-top: -5px !important;
  }
  .testimonial-img img{
    width: 36px;
    height: 36px;
  }
  #chart-widget1{
    margin: 2px 0px;
  }
}
@media only screen and (max-width: 1280px) {
  .testimonial-area .single-testimonial h3{
    font-size: 23px;
  }
  .testimonial-img img {
    width: 39px;
    height: 39px;
  }
}
@media only screen and (max-width: 1199px) {
  .hidden-chart {
    height: 212px;
  }
}
@media only screen and (max-width: 1112px) {
  .hidden-chart {
    height: 210px;
  }
}
@media only screen and (max-width: 767px) {
  .mic-container {
      margin-top: 15px;
  }
  .content-wrapper {
    -moz-transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    margin-left: inherit !important;
    margin-right: inherit;
    z-index: 820;
  }
  .rtl .content-wrapper {
    margin-right: 0px !important;
    margin-left: 0rem !important;
  }
}




.share-menu {
  z-index: 99;
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  cursor: pointer;
}
.share-menu .share i.fa {
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #616a7812;
  font-size: 18px;
}
.share-menu .share:hover.right .submenu li:nth-child(1) {
    opacity: 1;
    left: 55px;
    top: 30px;
    transform: rotate(0deg);
    transition-delay: 0.08s;
}
.share-menu .share:hover.right .submenu li:nth-child(2) {
    opacity: 1;
    left: 00px;
    top: 62px;
    transform: rotate(0deg);
    transition-delay: 0.16s;
}
.share-menu .share:hover.right .submenu li:nth-child(3) {
    opacity: 1;
    left: 55px;
    top: -33px;
    transform: rotate(0deg);
    transition-delay: 0.24s;
}
.share-menu .share:hover.right .submenu li:nth-child(4) {
    opacity: 1;
    left: 0px;
    top: -62px;
    transform: rotate(0deg);
    transition-delay: 0.32s;
}
.share-menu .share:hover.right .submenu li:nth-child(5) {
  opacity: 1;
  left: 250px;
  transform: rotate(0deg);
  transition-delay: 0.4s;
}
.share-menu .submenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.share-menu .submenu li {
  transition: all ease-in-out 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}
.share-menu .submenu li a {
  color: #212121;
}
.share-menu .submenu li a:hover i.fa {
  color: #fff;
}
.share-menu .submenu li a:hover.facebook i.fa {
  background-color: #3b5999;
}
.share-menu .submenu li a:hover.twitter i.fa {
  background-color: #55acee;
}
.share-menu .submenu li a:hover.googlePlus i.fa {
  background-color: #dd4b39;
}
.share-menu .submenu li a:hover.instagram i.fa {
  background-color: #e4405f;
}
.share-menu .submenu li:nth-child(1) {
  transform: rotateX(45deg);
}
.share-menu .submenu li:nth-child(2) {
  transform: rotateX(90deg);
}
.share-menu .submenu li:nth-child(3) {
  transform: rotateX(135deg);
}
.share-menu .submenu li:nth-child(4) {
  transform: rotateX(180deg);
}
.share-menu.bottomRight {
  bottom: 10px;
  right: 10px;
}
