.content-wrapper {
    margin-right: 0rem;
    margin-left: 19.3rem;
}
@media (max-width: 767px) {
  .content-wrapper {
    margin-right: 0rem;
    margin-left: 0rem !important;
  }
}
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper {
    margin-left: 58px;
    z-index: 840;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a svg {
    margin-right: 0;
    margin-left: 2px;
  }
  .rtl .content-wrapper, .rtl .main-footer {
    margin-right: 19.5rem;
    margin-left: 0rem;
  }
  .rtl.sidebar-mini.sidebar-collapse .content-wrapper, .rtl.sidebar-mini.sidebar-collapse .main-footer, .rtl.sidebar-mini.sidebar-collapse .right-side {
    margin-left: 0rem;
    margin-right: 60px;
  }
}

.tab-setting .nav-tabs li{
  width: 49.5%;
}
.tab-setting .nav-tabs{
  padding: 5px;
  background-color: #f2f2f4;
  border-radius: 10px;
}
.dark-skin .tab-setting .nav-tabs{
  background-color: #20304c;
}
.tab-setting .nav-tabs li button{
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  transition: 0.8s ease;
  padding: 6px 10px !important;
  color: #7e8299;
}
.tab-setting .nav-tabs li .active{
  color: #172b4c !important;
  background-color: #ffffff !important;
}
.dark-skin .tab-setting .nav-tabs li .active {
    background-color: #0c1a32 !important;
}

.tab-setting-2 .nav-link {
    color: #7e8299 !important;
}
.tab-setting-2 .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffffff !important;
    background-color: #0080ff;
}



.recent-news{
  height: 323px;
}